.cl{
    border: 2px solid white;
    text-align: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.cll{
    border: 2px solid white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cl1{
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    border: 2px solid white;
    text-align: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.cl1c{
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
    border: 2px solid white;
    text-align: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.container-xl h3 {
    color:#f5f6fa;
    font-size: 15px;
    margin: 0;
}
.container-xl p{
    color: #dcdde1;
}
.top{
    padding-top: 22px;
}
.cn{
    margin-top: 120px;
    margin-bottom: 100px;
}
#a1{
    background-image: url(../img/test2.jpg) ;
    background-size: cover;
}
#a2{
    background-image: url(../img/test.jpg) ;
    background-size: cover;  
}
#a3{
    background-image: url(../img/test3.jpg) ;
    background-size: cover;  
}
#a4{
    background-image: url(../img/test4.jpg) ;
    background-size: cover;  
}